@model MvcDemo.Models.TestDB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TestDB</legend>

    <div class="display-label">Question</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question)
    </div>

    <div class="display-label">Choice1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Choice1)
    </div>

    <div class="display-label">Choice2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Choice2)
    </div>

    <div class="display-label">Choice3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Choice3)
    </div>

    <div class="display-label">Choice4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Choice4)
    </div>

    <div class="display-label">CorrectAnswer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorrectAnswer)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
